html {
    height: 100%;
}
p {
    font-family: serif;
}
.red {
    color: red;
}
.green {
    color: green;
}
table, th, td {

 border: 1px lightgray;
    color: black;

    border: 1px solid  lightgray;
    border-collapse: collapse;
}
p:hover {
    background-color: dodgerblue;
    color:white;
}
