<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}" th:lang="${lang}"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Home page</title>

    <link href="/css/my.css" rel="stylesheet" media="screen"/>
</head>
<script>
    // Make in external (not embedded)
    function menuClick(menuItem) {
        const form = document.getElementById('form');
        const input = document.getElementById("menuItem");
        input.value = menuItem.id;
        console.log(menuItem.id);
        form.submit();
    }
</script>
<body>
<header>
    <h1>Main menu</h1>
</header>
<div id="menu" align="center">
    <p id="1" onclick="menuClick(this)">Game of Life</p>
    <p id="2" onclick="menuClick(this)">Page 2</p>
    <p id="3"  onclick="menuClick(this)">Page 3</p>
</div>

<form id="form" th:action="@{/selectMenuItem}" method="post">
    <input hidden id="menuItem" type="text" name="menuItem"/>
</form>

</body>
</html>
