<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Page 1</title>
    <link href="/css/my.css" rel="stylesheet" media="screen"/>
</head>
<body>

<div>
    <p>PAGE1</p>

    <table>
        <tr th:each="row : ${x}">
            <td onclick="alert(this.cellIndex+'x'+this.parentNode.rowIndex);" th:attr="style=${col.style}" th:each="col : ${row}" th:text="${col.value}"></td>
        </tr>
    </table>
    <form th:action="@{/setNumber}" method="post">
        <input id="num" type="text" name="num" size="10" align="middle"/>
        <input id="submitButton" type="submit" value="Submit"/>
    </form>
    <form th:action="@{/move}" method="post">
        <button>Next</button>
    </form> <form th:action="@{/clear}" method="post">
    <button>Clear</button>
</form>

    <a href="/">Home</a>
</div>

</body>
</html>
