<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Page 1</title>
    <link href="/css/my.css" rel="stylesheet" media="screen"/>
    <script src="/js/page1.js"></script>
</head>
<body onload="load()">

<div align="center">
    <p>PAGE1</p>

    <table id="playGround">
        <!--tr th:each="row : ${x}" ">
            <td onclick="submitCoords(this);" th:attr="style=${col.style}" th:each="col : ${row}" th:text="${col.value}"></td>
        </tr-->
    </table>

    <label>Number of generations: </label>
    <label id="genNum" name="gen"></label>
    <p></p>

    <label>Set table size</label>
    <p></p>
    <input id="size" type="text" name="num" size="10" align="middle"/>
    <button type="button">Submit</button>
    <p></p>

    <button type="button" onclick="start()">Start</button>
    <button type="button" onclick="stopPlay()">Stop</button>

    <button type="button">Next</button>

    <button type="button">Clear</button>
    <input id="repeat input" hidden>

    <a href="/">Home</a>
</div>
+
</body>
</html>
