<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Page 1</title>
    <link href="/css/my.css" rel="stylesheet" media="screen"/>
    <script src="/js/tetris.js"></script>

</head>

<header>
    <h1>Tetris</h1>
</header>
<body onload="load()" onkeyup="keyPress(event)">

<div align="center">

    <table id="playGround">

    </table>
    <p></p>
    <button type="button" onclick="start()">Start</button>
    <button type="button" onclick="stopPlay()">Stop</button>


    <a href="/">Home</a>
</div>

</body>
</html>
